<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Создание товара</title>
</head>
<body>
<form method="post" th:action="@{catalogue/product/create/save}">
    <label>
        Введите название<br>
        <input type="text" name="title">
    </label><br>
    <label>
        Введите описание<br>
        <textarea name="description"></textarea>
    </label><br>
    <button type="submit"></button>
</form>
</body>
</html>