<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Создание товара</title>
</head>
<body>
<a href="/">Назад</a>
<form method="post" th:action="@{/catalogue/products/create}">
    <label>
        Введите название<br>
        <input type="text" name="title">
    </label><br>
    <label>
        Введите описание<br>
        <textarea name="description"></textarea>
    </label><br>
    <button type="submit">Создать!</button>
</form>
</body>
</html>