<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Изменение товара</title>
</head>
<body>
<a href="/catalogue/products/list">Назад</a>
<hr>
<form method="post" th:action="@{/catalogue/products/{id}/update(id=${product.id})}">
    <label>
        Название<br>
        <input type="text" name="title" th:value="${product.title}">
    </label><br>
    <label>
        Описание<br>
        <input type="text" name="description" th:value="${product.description}">
    </label><br>
    <button type="submit">Обновить</button>
</form>
</body>
</html>