<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
<h1 th:text="${product.title}"> </h1>
<p th:text="${product.description}"></p>
<a th:href="@{/catalogue/products/{id}/edit(id=${product.id})}">edit</a><br>
<hr>
<form method="post" th:action="@{/catalogue/products/{id}/delete(id=${product.id})}">
    <button type="submit">delete</button>
</form>
</body>
</html>